body {
    background-color: black;
    color: gray;
    font-family: Arial, sans-serif;
}

header, nav, main, footer {
    text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    font-size: .8em;
    color: lightgray;
}

img {
    width: 500px;
    max-width: 100%;
}
table {
    margin: 0 auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.hobby {
    color: orange;
    font-weight: bold;
}

.current {
    border-bottom: 2px orange solid;
}